/*配件選單*/
/* img{
    width: 50px;
} */

#avatarPic {
  width: 300px;
  /* height:350px; */
  /* border: 1px solid red; */
}

.selectBox {
  text-align: center;
  margin: 0 auto;
}

.st0 {
  fill: #a52224;
}
.st1 {
  fill: #d93030;
}
.st2 {
  fill: none;
  stroke: #18191f;
  stroke-width: 4.2762;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st3 {
  fill: #e83c3c;
}
.st4 {
  fill: none;
  stroke: #18191f;
  stroke-width: 5.4044;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #f08e93;
}
.st6 {
  fill: #18191f;
}
.st7 {
  fill: #ff353b;
}
.st8 {
  fill: #ffffff;
}
.st9 {
  fill: #23b5f3;
}
.st10 {
  fill: #ccccff;
}
.st11 {
  fill: #6460ff;
}
.st12 {
  fill: #db9451;
}
.st13 {
  fill: #f4b55e;
}
.st14 {
  fill: #ec6519;
}
.st15 {
  fill: #ef7c33;
}
.st16 {
  fill: #cccccc;
}
.st17 {
  fill: #e6e6e5;
}
.st18 {
  fill: #b75320;
}
.st19 {
  fill: #b3b3b3;
}
.st20 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4d4d4d;
}
.st21 {
  fill: #4d4d4d;
}
.st22 {
  fill: #323333;
}
.st23 {
  fill: #9c4623;
}
.st24 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #cbe8f0;
}
.st25 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #e1f0f3;
}
.st26 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #9eccd5;
}
.st27 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #323333;
}
.st28 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #666666;
}
.st29 {
  fill: none;
  stroke: #f4b55e;
  stroke-width: 2.051;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st30 {
  fill: #c7b79c;
}
.st31 {
  fill: #d4c9b4;
}
.st32 {
  fill: #51524e;
}
.st33 {
  fill: #e1e1e1;
}
.st34 {
  fill: #43312b;
}
.st35 {
  fill: #c6c6c6;
}
.st36 {
  fill: #aaaaaa;
}
.st37 {
  fill: #939393;
}
.st38 {
  fill: #e0e0e0;
}
.st39 {
  fill: #2b451c;
}
.st40 {
  fill: #395527;
}
.st41 {
  fill: none;
  stroke: #18191f;
  stroke-width: 5.3533;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st42 {
  fill: none;
  stroke: #18191f;
  stroke-width: 4.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st43 {
  fill: none;
  stroke: #f4b55e;
  stroke-width: 2.378;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st44 {
  fill: none;
  stroke: #f4b55e;
  stroke-width: 3.459;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st45 {
  fill: #ff9398;
}
.st46 {
  fill: none;
  stroke: #18191f;
  stroke-width: 4.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st47 {
  fill: none;
  stroke: #18191f;
  stroke-width: 4.0241;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st48 {
  fill: none;
  stroke: #f4b55e;
  stroke-width: 1.5623;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st49 {
  fill: none;
  stroke: #18191f;
  stroke-width: 3.0579;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st50 {
  fill: none;
  stroke: #18191f;
  stroke-width: 2.7483;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
