@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w800 {
  font-weight: 800;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 768px) {
  html .nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
  }
  html .nav-menu.active {
    box-shadow: 3px 3px 12px rgba(128, 128, 128, 0.322);
    background-color: rgba(255, 255, 255, 0.808);
    left: 0;
  }
  html .nav-item {
    margin: 2.5rem 0;
    padding-top: 1.7rem;
  }
  html .nav-link {
    position: absolute;
  }
  html .hamburger {
    display: block;
    cursor: pointer;
  }
  html .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  html .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  html .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  height: 60px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 12px rgba(128, 128, 128, 0.322);
  padding: 3px;
  backdrop-filter: blur(8px);
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.header .navbar .nav-logo {
  margin-top: 5px;
}
.header .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .nav-menu .nav-item {
  margin-left: 5rem;
}
.header .navbar .nav-menu .nav-item .nav-link {
  position: relative;
  font-size: 1.6rem;
  color: #482ff7;
  padding: 20px 12px;
  font-size: 20px;
}
.header .navbar .nav-menu .nav-item .nav-link:hover {
  color: #ffffff;
}
.header .navbar .nav-menu .nav-item .nav-link::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.header .navbar .nav-menu .nav-item .nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header .navbar .nav-menu .nav-item .nav-link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #482ff7;
  z-index: -1;
  transition: transform 0.3s ease;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.topHeader {
  width: 100%;
  padding: 100px 0 0 0;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topHeader p {
  text-align: left;
}

.wrapper {
  margin-top: 400px;
  background-size: cover;
  width: 100%;
}
.wrapper h1 {
  color: black;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}
.wrapper h2 {
  margin: 0;
  font-size: 48px;
  padding: 100px 0 20px 100px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
}
.wrapper p {
  font-size: 28px;
  color: black;
  padding: 0 20%;
  line-height: 40px;
  background: white;
}

footer {
  padding: 150px 100px;
  background-color: #2e1ed3;
  text-align: center;
  color: white;
}
footer div ul li {
  padding-bottom: 50px;
}

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #2E1ED3;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.iconcontainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--greyLight-1);
}

.components {
  width: 600px;
  height: auto;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 4rem;
  display: grid;
  grid-template-columns: 17.6rem 19rem 20.4rem;
  grid-template-rows: repeat(autofit, min-content);
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  align-items: center;
}

/*  switch切換按鈕  */
.switch {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.switch input {
  display: none;
}
.switch__1 input:checked ~ label, .switch__2 input:checked ~ label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.switch__1 input:checked ~ label::after, .switch__2 input:checked ~ label::after {
  background: var(--primary);
}
.switch__1 label, .switch__2 label {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}
.switch__1 label:hover::after, .switch__2 label:hover::after {
  background: var(--primary);
}
.switch__1 label::after, .switch__2 label::after {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  background: var(--greyDark);
  border-radius: 50%;
  transition: 0.3s ease;
}

/*  buttons長方形按鈕兩個  */
.bbtn {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.bbtn__primary {
  grid-column: 1/2;
  grid-row: 2/3;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.bbtn__primary:hover {
  color: var(--white);
}
.bbtn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}
.bbtn__secondary {
  grid-column: 1/2;
  grid-row: 3/4;
  color: var(--greyDark);
}
.bbtn__secondary:hover {
  color: var(--primary);
}
.bbtn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.bbtn p {
  font-size: 1.6rem;
}

/*  playbutton開始健身按鈕  */
.circle {
  grid-column: 1/2;
  grid-row: 4/6;
  width: 9rem;
  height: 100%;
  justify-self: center;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.circle__btn {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 6rem;
  height: 6rem;
  display: flex;
  margin: 0.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 3.2rem;
  color: var(--primary);
  z-index: 300;
  background: var(--greyLight-1);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  cursor: pointer;
  position: relative;
}
.circle__btn.shadow {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.circle__btn .play {
  position: absolute;
  opacity: 0;
  transition: all 0.2s linear;
}
.circle__btn .play.visibility {
  opacity: 1;
}
.circle__btn .pause {
  position: absolute;
  transition: all 0.2s linear;
}
.circle__btn .pause.visibility {
  opacity: 0;
}
.circle__back-1, .circle__back-2 {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100;
}
.circle__back-1 {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
  background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
  animation: waves 4s linear infinite;
}
.circle__back-1.paused {
  animation-play-state: paused;
}
.circle__back-2 {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
  animation: waves 4s linear 2s infinite;
}
.circle__back-2.paused {
  animation-play-state: paused;
}

/*  FORM  */
.form {
  grid-column: 2/3;
  grid-row: 3/4;
}
.form__input {
  width: 20.4rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}
.form__input::placeholder {
  color: var(--greyLight-3);
}
.form__input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

/* 分段三選一健身計算 */
.segmented-control {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 20.4rem;
  height: 4rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}
.segmented-control input {
  display: none;
}
/* .segmented-control > input:checked + label {
  transition: all 0.5s ease;
  color: var(--primary);
} */
.segmented-control__1, .segmented-control__2, .segmented-control__3 {
  width: 6.8rem;
  height: 3.6rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}
/* .segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover {
  background-color: var(--greyLight-3);
} */
.segmented-control__color {
  position: absolute;
  height: 3.4rem;
  width: 6.2rem;
  margin-left: 0.3rem;
  border-radius: 0.8rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  /* pointer-events: none; */
}

#tab1-1:checked ~ .segmented-control__color,
#tab2-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab1-2:checked ~ .segmented-control__color,
#tab2-2:checked ~ .segmented-control__color {
  transform: translateX(6.8rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab1-3:checked ~ .segmented-control__color,
#tab2-3:checked ~ .segmented-control__color {
  transform: translateX(13.6rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*  ICONS表  */
.icon {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  justify-content: space-between;
}
.icon__more, .icon__plus, .icon__bulb {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}
.icon__more:active, .icon__plus:active, .icon__bulb:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--primary);
}
.icon__more:hover, .icon__plus:hover, .icon__bulb:hover {
  color: var(--primary);
}

/*  RANGE-SLIDER  */
.slider {
  grid-column: 2/3;
  grid-row: 5/6;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.slider__box {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  box-shadow: 0px 0.1rem 0.3rem 0px var(--greyLight-3);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btn:hover ~ .slider__tooltip {
  opacity: 1;
}
.slider__btn::after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.slider__color {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  z-index: 100;
  border-radius: inherit;
  background: var(--primary);
  background: linear-gradient(-1deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
}
.slider__tooltip {
  position: absolute;
  top: 2.6rem;
  height: 2.5rem;
  width: 3rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--primary);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*# sourceMappingURL=style.css.map */
