<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" th:href="@{/aboutUs/css/aboutUs_style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800" rel="stylesheet">
    
</head>
<body>
   <!--Menu Start-->
<header th:replace="fragments/header::myHeader"></header>
        <div class="blank"></div>
<!--Menu End-->

<!-- Main Start -->
      <div class="topHeader">
        <h1 class="w800">Your health, </h1>
        <h1 class="w800">Our concern.</h1>
        <p></p>
      </div>

      <img class="multi-ani1" th:src="@{/aboutUs/images/aboutUs_bubble_Big.png}" alt=""
      style="top:900px; left:-480px; position:absolute;">
  <img class="multi-ani1" th:src="@{/aboutUs/images/aboutUs_bubble_small1.png}" alt=""
      style="top:920px; right:200px; position:absolute;">
  <img class="multi-ani1" th:src="@{/aboutUs/images/aboutUs_bubble_small2.png}" alt=""
      style="top:850px; left:100px; position:absolute;">
      <img class="multi-ani1" th:src="@{/aboutUs/images/aboutUs_bubble_mid.png}" alt=""
      style="top: 950px; right:0px; position:absolute;">
 
      <div class="wrapper">
        <p>I'm a self taught web designer, developer, co-founder and entrepreneur based in Finland.
      I'm currently part of a small web development team in an upcoming start-up, building web and mobile applications.
      My passion is to use technology based solutions, to help solve real world challenges.
      Competences:
      Languages and Frameworks:
      Javascript, HTML5, CSS3, jQuery, Bootstrap3, Angular.js, Meteor.js.
      Tools & expertise:
      Git, Responsive Web Design, Agile Methodologies.</p>
      <h1>Infinito Web Design Studio.</h1>
      <p >I'm a self taught web designer, developer, co-founder and entrepreneur based in Finland.
        I'm currently part of a small web development team in an upcoming start-up, building web and mobile applications.
        My passion is to use technology based solutions, to help solve real world challenges.
        Competences:
        Languages and Frameworks:
        Javascript, HTML5, CSS3, jQuery, Bootstrap3, Angular.js, Meteor.js.
      </p>
      </div>
      <!-- Main End -->

     <!-- Copyright Start -->
        <div class="blank"></div>
        <footer th:replace="fragments/footer::myFooter"></footer>
      <!-- Copyright End -->
</body>
</html>