* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.myHeader {
	width: 100%;
	min-width: 1150px;
	height: 80px;
	/*background-color: #6460ff;*/
	background-color: white;

}

.main {
  width: 100%;
  height: 580px;
  background-color: white;
}

.footer {
  width: 100%;
  min-width: 1150px;
  height: 80px;
  background-color: #6460ff;
}

/* 顯示範圍 */
.range {
  width: 760px;
  height: 550px;

  border: 3px #6460ff solid;
  border-radius: 5%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wrong-range{
  width: 760px;
  height: 550px;

  border: 3px #6460ff solid;
  border-radius: 5%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 標題 */
.title {
  position: relative;
  top: 5%;

  font-size: 50px;
  color: #6460ff;
}

.wrongTitle{
  position: relative;
  top: 5%;

  font-size: 40px;
  color: #6460ff;		
}

.check-div {
  width: 520px;
  height: 250px;
  /*margin: -10px auto;*/

  /*border: 1px solid slategrey; */
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wrong-check-div{
  width: 520px;
  height: 120px;

  text-align: center;
  font-size:30px;
  
  margin-top:25px;
	
  /*border: 1px solid slategrey;*/ 	
	
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.check-div p{
	font-size: 20px
}

.infoRange {
  width: 80%;
  height: 15%;

  /* border: 1px solid red; */
  font-size: 16px;
}

h1 {
  font-size: 15px;
}

#newPwdBox {
  width: 350px;
  height: 95px;
  margin-top: 20px;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#confimPwdBox {
  width: 350px;
  height: 95px;
  margin-top: 20px;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 通用修改欄位 */
.editColumn {
  width: 280px;
  height: 38px;
  font-size: 24px;

  background-color: rgba(255, 255, 255, 0.6);

  border: 3px solid #6460ff;
  border-radius: 20px;
}

/* 新密碼欄位 */
#newPassword {
  width: 280px;
  height: 38px;
  font-size: 24px;

  background-color: rgba(255, 255, 255, 0.6);

  border: 3px solid #6460ff;
  border-radius: 20px;
}

/* 眼睛圖示 */
.eye1{
  width: 22px;
  position: relative;
  
  transform: translate(0%, 23.5%);
  cursor: pointer;	
}

.eye2{
  width: 22px;
  position: relative;
  
  transform: translate(0%, 23.5%);
  cursor: pointer;	
}

input{
	text-align: center;
}

/*取消輸入外框*/
input:focus {
  outline: none;
}

/* 提交按鈕 */
#confirmSubmit {
  width: 20%;
  height: 40px;

  background-color: white;
  border-radius: 20px;

  border: 3px solid #6460ff;
}

#wrong-confirmSubmit{
  width: 20%;
  height: 40px;

  background-color: white;
  border-radius: 20px;
  
  text-align:center;
  font-size:16px;
  color:black;
    
  display:flex;
  align-items:center;
  justify-content:center;

  border: 3px solid #6460ff;	
}

/* 結果訊息顯示用 */
.hidden {
  display: none;
}

.error {
  color: red;
}

.success{
  color: #1dab69;
}

/* 強度BOX */
#intension {
  display: flex;
  flex-direction: row;
}

/* 強度 div */
#intension div {
  background-color: rgba(235, 238, 248, 0.87);
  width: 50px;
  height: 18px;

  margin: 2px;
  font-size: 14px;

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#intension .none {
  background-color: red;
}

#intension .week {
  background-color: orange;
}

#intension .normal {
  background-color: #9ac4f8;
}

#intension .good {
  background-color: #c2f8cb;
}

#intension .strong {
  background-color: #99edcc;
}






