<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/components/css/components_style.css">
</head>

<body>
  <!-- icon Start -->
  <div class="container">
    <div class="components w800">

      <div class="switch">
        <div class="switch__1">
          <input id="radio-1" type="radio" name="radio" value="1">
          <label for="radio-1"></label>
        </div>

        <div class="switch__2">
          <input id="radio-2" type="radio" name="radio" value="2" checked>
          <label for="radio-2"></label>
        </div>
      </div>

      <div class="btn btn__primary">
        <p>Button</p>
      </div>
      <div class="btn btn__secondary">
        <p>Button</p>
      </div>

      <div class="circle">
        <span class="circle__btn">
          <img class="pause" name="pause" src="../../static/components/images/Pause.svg" alt="">
          <img class="play" name="play" src="../../static/components/images/Play.svg" alt="">
        </span>
        <span class="circle__back-1"></span>
        <span class="circle__back-2"></span>
      </div>

      <div class="form">
        <input type="text" class="form__input" placeholder="Type anything...">
      </div>

      <div class="segmented-control">

        <input type="radio" name="radio2" value="3" id="tab-1" checked />
        <label for="tab-1" class="segmented-control__1">
          <p>BMI</p>
        </label>

        <input type="radio" name="radio2" value="4" id="tab-2" />
        <label for="tab-2" class="segmented-control__2">
          <p>FFMI</p>
        </label>

        <input type="radio" name="radio2" value="5" id="tab-3" />
        <label for="tab-3" class="segmented-control__3">
          <p>TDEE</p>
        </label>

        <div class="segmented-control__color"></div>
      </div>

      <div class="circleicon">
        <div class="circleicon__more">
          <img src="../../static/components/images/more.svg" alt="">
        </div>
        <div class="circleicon__plus">
          <img src="../../static/components/images/" alt="">
        </div>
        <div class="circleicon__bulb">
          <img src="../../static/components/images/Light bulb.svg" alt="">
        </div>
        <div class="circleicon__click">
          <img src="../../static/components/images/left click.svg" alt="">
        </div>
        <div class="circleicon__click">
          <img src="../../static/components/images/right click.svg" alt="">
        </div>
        <div class="circleicon__leave">
          <img src="../../static/components/images/leave.svg" alt="">
        </div>
        <div class="circleicon__leave">
          <img src="../../static/components/images/previous_video.svg" alt="">
        </div>
        <div class="circleicon__leave">
          <img src="../../static/components/images/next_video.svg" alt="">
        </div>
      </div>

      <div class="normalIcon">
        <div class="normalIcon__more">
          <img src="../../static/components/images/blue_icon.svg" alt="">
        </div>
        <div class="normalIcon__plus">
          <img src="../../static/components/images/Icon_edit.svg" alt="">
        </div>
        <div class="normalIcon__click">
          <img src="../../static/components/normalIcon/images/left_click.svg" alt="">
        </div>
        <div class="normalIcon__click">
          <img src="../../static/components/images/right click.svg" alt="">
        </div>
        <div class="normalIcon__click">
          <img src="../../static/components/images/normalIcon/leave.svg" alt="">
        </div>
      </div>

    

    <div class="slider">
      <div class="slider__box">
        <span class="slider__btn" id="find"></span>
        <span class="slider__color"></span>
        <span class="slider__tooltip">50%</span>
      </div>
    </div>
  </div>

  <script src="../../static/components/js/components_style.js"></script>
</div>
  <!-- icon End -->
  
</body>

</html>