<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/fitNow/css/fit-now.css">
    <script type="text/javascript" src="/fitNow/js/fit-now.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
    </style>
<body>
    <div class="container">
        <header th:replace="fragments/header::myHeader"></header>
        <div class="blank"></div>

        <div class="content-left">
            <img src="/fitNow/images/avatar.PNG" style="width:100%;height:100%;">
        </div>
        <div class="content-right">
            <div class="nested-grid">
                <div class="fit-category">ALL TRAINING</div>
                <button class="fit-button-left">
                    
                </button >
                <button class="fit-button-right">

                </button >
            </div>
        </div>
        <div class="blank"></div>
    </div>
    <footer th:replace="fragments/footer::myFooter"></footer>
</body>
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</html>