<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login.css" />
    <script src="./login.js"></script>
    <title>logIn/signUp</title>
</head>

<body>
    <header></header>
    <main>
        <div class="container">
            <div class="leftBox">
                    <form action="" class="signUp">
                        <h3>SIGN UP</h3>
                        <div class="input"> 
                            <input type="email" name="email" placeholder="Email*">
                            <input type="text" name="nickName" placeholder="Nickname">
                            <input type="password" name="password" placeholder="password*">
                            <input type="password" name="ConfirmPassword" placeholder="Confirm Password*">
                        </div>
                        <div class="button">
                            <button type="submit"  id="signUpSubmit">SIGN UP</button>
                        </div>
                    </form>
            </div>     
            
            
            <div class="rightBox">
                    <form action="" class="logIn">
                        <h3>LOG IN</h3>
                        <div class="input">
                            <input type="email" name="email" placeholder="Email*">
                            <input type="password" name="password" placeholder="password*">
                        </div>
                        <div class="button">
                            <button type="submit" id="logInSubmit">LOG IN</button>
                        </div>
                    </form>
            </div>

            <div class="swiftBox" id="swiftBox">
                <div class="swiftContent">
                    <div class="swiftText">
                        <h3 id='changeTitle'>HELLO,<br>
                            NEW-<br>
                            COMER!
                        </h3>
                        <p id='changeText'>
                            Need more exercises?<br>
                            Come join us!
                        </p>
                    </div>
                    <button type="button" id="swiftButton">SIGN UP</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>