* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 100%;
  height: 120vh;
  background: #12121f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender {
  width: 45rem;
  /* height: 50rem; */
  height: calc(40.2rem / 7 * 6 + 5);
  background-color: #2b2b37;
}

.month {
  width: 100%;
  height: 10rem;
  background-color: rgb(46, 179, 135);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2, 5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  /*  */
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div,
.days button {
  border: 0;
  background-color: #2b2b37;
  border-radius: 100%;
  font-size: 1.4rem;
  color: white;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: calc(40.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

/* .days div:hover:not(.today), */
.days button:hover:not(.today) {
  background-color: rgb(46, 179, 135);
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.days button.today {
  background-color: rgb(46, 179, 135);
}
