:root {
  --btn-l-height: 160px;
  --padding-def: 40px;
  --padding-hef: 20px;
}
.header {
  height: 80px;
  background: #000;
}
.br {
  height: var(--padding-def);
}
.full-width {
  width: 100%;
}
.div {
  margin: 0;
  padding: var(--padding-def);
}

.div-btn {
  align-self: flex-end;
  height: var(--btn-l-height);
}

.btn-l {
  width: 100%;
  height: 100%;
  border-radius: var(--div-border-radius);

  font-size: 3rem;
}
.align-r {
  /* display: flex;
  justify-content: flex-end; */
  position: absolute;
  right: var(--padding-hef);
  bottom: var(--padding-hef);
}
.btn {
  margin-right: 0;
}

#day {
  font-size: 3rem;
  font-weight: var(--font-weight-blod);
  width: 100%;
  height: 100px;
}
