<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>headerAndFooter</title>
</head>
<body>

 <!-- Copyright Start -->
 <footer th:fragment="myFooter">
    <div>
      <ul>
        <li><a href="#logo"><img src="/header&Footer/images/whitelogo.svg" alt=""></a></li>
        <li>本網站為JAVA工程師班第16期第二組學員專題成果作品，本平台僅供學習、展示之用。若有牴觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，本公司概不負責。若有侵權疑慮，您可以私訊[北科大-JAVA工程師養成班]，後續會由專人協助處理。</li>
        <li><p>Copyright © 2021 Play Fit All Rights Reserved.</p></li>
      </ul>
    </div>
  </footer>
<!-- Copyright End -->
</body>
</html>