<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--     網站圖示 -->
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon">

    <title>headerAndFooter</title>
</head>

<body>
    <!-- Menu Start -->
    <header th:fragment="myHeader" class="header">
        <nav class="navbar">
            <a href="/index" class="nav-logo"><img src="/header&Footer/images/bluelogo.svg" alt=""></a>
            <ul class="nav-menu w800">
                <li class="nav-item">
                    <a href="/StartFit" class="nav-link-line">FIT NOW</a>
                </li>
                <li class="nav-item">
                    <a href="/calculator" class="nav-link-line">CALCULATOR</a>
                </li>
                <li class="nav-item">
                    <a href="/calendar/calendar" class="nav-link-line">PLALENDAR</a>
                </li>
                <li class="nav-item">
                    <a href="/aboutUs" class="nav-link-line">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a href="/pay" class="nav-link-line">PREMIUM</a>
                </li>
                <li class="nav-item">
                    <!--                 	登入=> MemberPage -->
                    <a sec:authorize="isAuthenticated()" href="/MemberPage" class="nav-icon">
                        <img th:src="@{\header&Footer\images\plyFitIcon.svg}" alt="plyFitIcon.svg">
<!--                         <p th:case="'admin'"><img th:src="@{\header&Footer\images\plyFitIcon.svg}" alt="plyFitIcon.svg"></p> -->
<!--   						<p th:case="#{roles.manager}"><img th:src="@{\header&Footer\images\plyFitIcon.svg}" alt="plyFitIcon.svg"></p> -->
                    </a>
                    <!--                 	未登入=> login -->
                    <a sec:authorize="isAnonymous()" href="/login" class="nav-icon">
                        <img th:src="@{\header&Footer\images\nonMember.svg}" alt="plyFitIcon.svg">
                    </a>
                    
<!--                     <div th:switch="${user.role}">  -->
<!--   						<p th:case="'admin'">User is an administrator</p> -->
<!--   						<p th:case="#{roles.manager}">User is a manager</p> -->
<!--  						<p th:case="*">User is some other thing</p>  -->
<!-- 					</div> -->
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        <link rel="stylesheet" th:href="@{\header&Footer\css\header&Footer_style.css}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
        <script src="/header&Footer/js/header&Footer_style.js"></script>
    </header>

    <script src="../../static/header&Footer/js/header&Footer_style.js"></script>
</body>

</html>
