* {
  text-align: center;
}
.br {
  height: 140px;
}

div {
  /* box-shadow: 0 0 0px 1px gold inset; */
}

.sub {
  height: fit-content;
  /* border: 1px solid red; */
  /* margin-bottom: 80px; */
  display: flex;
  justify-content: center;
}

.sub2 {
  height: 400px;
  /* border: 1px solid blue; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub2 div {
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.5;
}
