<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- jquery -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<!-- 字型 -->
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap')
	;
.error {
	color: red;
	font-size: 14px;
}
</style>
<!-- 修改資料 Css -->
<link rel="stylesheet" th:href="@{/editProfileForm/css/EditPassword.css}">
<title>EditProfile</title>
</head>
<body>
	<div class="myHeader">
    	<header th:replace="fragments/header::myHeader"></header>
    </div>
	<!-- 修改密碼資料表單 -->
	<div class="main">
		<!-- 	表單連結 -->
		<div class="hrefSelect">
			<div th:each="href: ${hrefList}">
				<div class="editHref">
					<a th:if="${href == '/editUser' && currentForm != 'userForm'}" th:href="@{${href}}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\user.png}" width="48px"> 
						<p>
							Personal Information						
						</p>	
					</a> 
					<span th:if="${href == '/editUser' && currentForm == 'userForm'}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\user.png}" width="48px"> 
						<p>
							Personal Information						
						</p>
					</span>
					<a th:if="${href == '/editHealthRecord' && currentForm != 'healthRecordForm'}" th:href="@{${href}}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\muscles.png}" width="48px"> 
						<p>
							Health Record					
						</p>
					</a>
					<span th:if="${href == '/editHealthRecord' && currentForm == 'healthRecordForm'}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\muscles.png}" width="48px"> 
						<p>
							Health Record					
						</p>
					</span> 
					<a th:if="${href == '/editPassword' && currentForm != 'passwordForm'}" th:href="@{${href}}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\password.png}" width="48px"> 
						<p>
							Modify Password					
						</p>
					</a>
					<span th:if="${href == '/editPassword' && currentForm == 'passwordForm'}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\password.png}" width="48px"> 
						<p>
							Modify Password					
						</p>
					</span> 
				</div>
			</div>
		</div>
		<form th:action="@{/editPassword}" class="editForm" method="POST">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
			<div class="formRange">
				<label>Modify Password</label>
<!-- 				錯誤訊息 -->
				<br th:unless="${passwordError}">
				<br th:unless="${passwordError}">
				<span class="error" th:if="${passwordError}"><br>[[${passwordError}]]</span>
<!-- 				錯誤訊息 -->
				<div id="originPwdBox">
					<p>Origin Password
						<img class="eye1" alt="eye" th:src="@{'/getEyePic/' + ${eyeType.get(1)}}"/>
					</p>
					<input type="password" name="originPwd" id="originPassword" class="editColumn">
				</div>

				<div id="newPwdBox"> 
					<p>New Password
						<img class="eye2" alt="eye" th:src="@{'/getEyePic/' + ${eyeType.get(1)}}"/>
					</p>
					<input type="password" name="newPwd" id="newPassword">
					<div id='intension'>
						<div> </div>
						<div> </div>
						<div> </div>
						<div> </div>
						<div> </div>
					</div>
				</div>

				<div id="confimPwdBox">
					<p>Confirm Password
						<img class="eye3" alt="eye" th:src="@{'/getEyePic/' + ${eyeType.get(1)}}"/>
					</p>
					<input type="password" name="confimPwd" id="confimPassword" class="editColumn">
				</div>

				<input type="submit" value="Update" class="setUP">
			</div>
		</form>
	</div>
<!-- 	<div class="footer"></div> -->
	<footer th:replace="fragments/footer::myFooter"></footer>
	<script type="text/javascript" th:src="@{\editProfileForm\js\EditPassword.js}"></script>
	<script type="text/javascript" th:inline="javascript">

		var open = /*[[@{'/getEyePic/' + ${eyeType.get(0)}}]]*/ 'default' ;
		var close = /*[[@{'/getEyePic/' + ${eyeType.get(1)}}]]*/ 'default' ;
		//console.log(open);

		// 眼睛功能
		let eye1 = document.querySelector(".eye1");
		let eye2 = document.querySelector(".eye2");
		let eye3 = document.querySelector(".eye3");

// 		console.log(eye1.src);
		
		function toggleEye(type){

			//console.log(type);
			
			if(type == 1){
				
				// 改Type
				let type = $("#originPassword").attr("type");
				if(type === "password") $("#originPassword").prop("type","text");
				else $("#originPassword").prop("type","password");
				
				// 改 icon src
				let eyeSrc = eye1.src ;
				//console.log(eye1.src);
				
// 				eye1.src = './editProfileForm/img/eyeclosed.png';
				
				if(eyeSrc === 'http://localhost:8080'+ open) 
				eye1.src = close ;
				
				else 
				eye1.src = open ;
			}
			
			if(type == 2){

				// 改Type
				let type = $("#newPassword").attr("type");
				if(type === "password") $("#newPassword").prop("type","text");
				else $("#newPassword").prop("type","password");

				// 改 icon src
				let eyeSrc = eye2.src ;
				//console.log(eye2.src);
				
				if(eyeSrc === 'http://localhost:8080'+ open) 
				eye2.src = close ;
				
				else 
				eye2.src = open ;
			}
			
			if(type == 3){
				
				// 改Type
				let type = $("#confimPassword").attr("type");
				if(type === "password") $("#confimPassword").prop("type","text");
				else $("#confimPassword").prop("type","password");

				// 改 icon src
				let eyeSrc = eye3.src ;
// 				console.log(eye3.src);
				
				if(eyeSrc === 'http://localhost:8080'+ open) 
				eye3.src = close ;
				
				else 
				eye3.src = open ;
			}

		}

		function doFirst(){
			
			// originPwd
			eye1.addEventListener('click', ()=>{
				toggleEye(1)
			});
			
			// newPwd
			eye2.addEventListener('click', ()=>{
				toggleEye(2)
			});
			
			// confimPwd
			eye3.addEventListener('click', ()=>{
				toggleEye(3)
			});
						
		}

		window.addEventListener("load", doFirst);
	</script>
</body>
</html>
















