<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- jquery -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<!-- 字型 -->
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap')
	;
.error {
	color: red;
	font-size: 14px;
}
</style>
<!-- 修改資料 Css -->
<link rel="stylesheet" th:href="@{/editProfileForm/css/EditPassword.css}">
<title>EditProfile</title>
</head>
<body>
	<div class="header"></div>
	<!-- 修改密碼資料表單 -->
	<div class="main">
		<!-- 	表單連結 -->
		<div class="hrefSelect">
			<div th:each="href: ${hrefList}">
				<div class="editHref">
					<a th:if="${href == '/editUser' && currentForm != 'userForm'}" th:href="@{${href}}">Personal Infomation</a> 
					<span th:if="${href == '/editUser' && currentForm == 'userForm'}">Personal Infomation</span>
					<a th:if="${href == '/editHealthRecord' && currentForm != 'healthRecordForm'}" th:href="@{${href}}">Health Record</a>
					<span th:if="${href == '/editHealthRecord' && currentForm == 'healthRecordForm'}">Health Record</span> 
					<a th:if="${href == '/editPassword' && currentForm != 'passwordForm'}" th:href="@{${href}}">Modify Password</a>
					<span th:if="${href == '/editPassword' && currentForm == 'passwordForm'}">Modify Password</span> 
				</div>
			</div>
		</div>	
		<form th:action="@{/editPassword}" class="editForm" method="POST">
			<div class="formRange">
				<label>Modify Password</label>
<!-- 				錯誤訊息 -->
				<br th:unless="${error}">
				<span class="error" th:if="${error}">[[${error}]]</span>
<!-- 				錯誤訊息 -->
				<div id="originPwdBox">
					<p>Origin Password</p>
					<input type="password" name="originPwd" class="editColumn">
				</div>

				<div id="newPwdBox"> 
					<p>New Password</p>
					<input type="password" name="newPwd" id="newPassword">
					<div id='intension'>
						<div> </div>
						<div> </div>
						<div> </div>
						<div> </div>
						<div> </div>
					</div>
				</div>

				<div id="confimPwdBox">
					<p>Confirm Password</p>
					<input type="password" name="confimPwd" class="editColumn">
				</div>

				<input type="submit" value="Update" class="setUP">
			</div>
		</form>
	</div>
	<div class="footer"></div>
	<script type="text/javascript" th:src="@{\editProfileForm\js\EditPassword.js}"></script>
</body>
</html>