<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- jquery -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<!-- 字型 -->
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap')
	;
.error {
	color: red;
	font-size: 15px;
}
</style>
<!-- 修改資料 Css -->
<link rel="stylesheet" th:href="@{/editProfileForm/css/EditBodyInfo.css}">
<title>EditProfile</title>
</head>
<body>
	<div class="myHeader">
    	<header th:replace="fragments/header::myHeader"></header>
    </div>
	<!-- 修改身體資料表單 -->
	<div class="main">
	<!-- 	表單連結 -->
		<div class="hrefSelect">
			<div th:each="href: ${hrefList}">
				<div class="editHref">
					<a th:if="${href == '/editUser' && currentForm != 'userForm'}" th:href="@{${href}}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\user.png}" width="48px"> 
						<p>
							Personal Information						
						</p>	
					</a> 
					<span th:if="${href == '/editUser' && currentForm == 'userForm'}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\user.png}" width="48px"> 
						<p>
							Personal Information						
						</p>
					</span>
					<a th:if="${href == '/editHealthRecord' && currentForm != 'healthRecordForm'}" th:href="@{${href}}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\muscles.png}" width="48px"> 
						<p>
							Health Record					
						</p>
					</a>
					<span th:if="${href == '/editHealthRecord' && currentForm == 'healthRecordForm'}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\muscles.png}" width="48px"> 
						<p>
							Health Record					
						</p>
					</span> 
					<a th:if="${href == '/editPassword' && currentForm != 'passwordForm'}" th:href="@{${href}}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\password.png}" width="48px"> 
						<p>
							Modify Password					
						</p>
					</a>
					<span th:if="${href == '/editPassword' && currentForm == 'passwordForm'}">
						<img alt="personIcon" th:src="@{\editProfileForm\img\password.png}" width="48px"> 
						<p>
							Modify Password					
						</p>
					</span> 
				</div>
			</div>
		</div>	
		<form th:action="@{/editHealthRecord}" class="editForm" method="POST">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
			<div class="formRange">
				<label>Body Infomation</label>
				<div class="editBox">
					<p>Height</p>
					<input type="number" name="height" class="editColumn" 
					min="50.00" max="300.00" step="0.01" th:value="${healthRecord.height}">
				</div>

				<div class="editBox"> 
					<p>Weight</p>
					<input type="number" name="weight" class="editColumn" 
					min="35.00" max="300.00" step="0.01" th:value="${healthRecord.weight}">
				</div>

				<div class="editBox">
					<p>Activity Level:</p>
					<select name="activityLevel" class="editColumn">
						<option value="LightExercise" th:selected="${healthRecord.exerciseFrequency eq 'LightExercise'}">
							LightExercise
						</option>
						<option value="ModerateExercise" th:selected="${healthRecord.exerciseFrequency eq 'ModerateExercise'}">
							ModerateExercise
						</option>
						<option value="HeavyExercise" th:selected="${healthRecord.exerciseFrequency eq 'HeavyExercise'}">
							HeavyExercise
						</option>
						<option value="Athlete" th:selected="${healthRecord.exerciseFrequency eq 'Athlete'}">
							Athlete
						</option>
						<option value="Sedentary" th:selected="${healthRecord.exerciseFrequency eq 'Sedentary'}">
							Sedentary(office job)
						</option>
					</select>
				</div>

				<input type="submit" value="Update" class="setUP">
			</div>
		</form>
	</div>
<!-- 	<div class="footer"></div> -->
    <footer th:replace="fragments/footer::myFooter"></footer>
</body>
</html>