/* css reset ---------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset ---------------------------------- */

html{
	overflow-y: hidden !important;
}

*{
    font-family: 'Montserrat', sans-serif;
    font-weight :bold;
    font-size: 1rem;
}

body{
    margin: 0;
}

.container{
    /* width:100vm;
    height: 120vh; */

    display:grid;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 0.5fr 1.5fr repeat(10,1fr);


    gap:10px;

    
    box-sizing: border-box;
}

.container div{
    padding:10px;
    
}

.content-left{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: rgb(235, 238, 248);
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 15px;
    
    display:grid;

    grid-template-columns: repeat(9,minmax(0, 0.1fr)) 1fr 1fr;
    grid-template-rows: repeat(10,1fr);
}

.content-right img{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 11;
}

.content-right{
    


    


}




