/* css reset ---------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css reset ---------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

@media screen and (max-width: 1000px) {
    .left h1{
        font-size: 140px;

    }

    .left h5{
        font-size:25px;
    }

    .left p{
        margin-top: 20px;
        font-size:20px;
    }

}

*{
    font-family: 'Montserrat', sans-serif;
    font-weight :bold;
    font-size: 1rem;
}

.content{
    display: flex;
    align-items: center;
}
.left{
    flex: 1;
    text-align: center;
    color: #6f42c1;
}
.right{
    flex: 1;
    text-align: right;
}

.left h1{
    font-weight :700;
    font-size: 180px;

}

.left h5{
    font-weight :700;
    font-size:30px;
}

.left p{
    font-weight :600;
    margin-top: 20px;
    font-size:25px;
}





