<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>headerAndFooter</title>
  <link rel="stylesheet" href="../../static/header&Footer/css/header&Footer_style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
</head>

<body>
  <!-- Menu Start -->
  <header class="header">

    <nav class="navbar">
      <a href="#" class="nav-logo"><img src="../../static/header&Footer/images/bluelogo.svg" alt=""></a>
      <ul class="nav-menu w800">
        <li class="nav-item">
          <a href="#" class="nav-link">FIT NOW</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">CALCULATOR</a>
        </li>
        <li class="nav-item">
          <a href="/calendar/calendar" class="nav-link">PLALENDAR</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-icon"><img src="../../static/header&Footer/images/plyFitIcon.svg" alt=""></a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>
  <!-- Menu End -->
  <!-- Main Start -->
  <div class="topHeader">
    <h1 class="w800">Your health, </h1>
    <h1 class="w800">Our concern.</h1>
    <p></p>
  </div>

  <div class="container">

    <h1>Infinito Web Design Studio.</h1>
    <p>I'm a self taught web designer, developer, co-founder and entrepreneur based in Finland.
      I'm currently part of a small web development team in an upcoming start-up, building web and mobile applications.
      My passion is to use technology based solutions, to help solve real world challenges.
      Competences:
      Languages and Frameworks:
      Javascript, HTML5, CSS3, jQuery, Bootstrap3, Angular.js, Meteor.js.
    </p>
  </div>
  <!-- Main End -->


  <!-- Copyright Start -->
  <footer>
    <div>
      <ul>
        <li><a href="#logo"><img src="../../static/header&Footer/images/whitelogo.svg" alt=""></a></li>
        <li>
          本網站為JAVA工程師班第16期第二組學員專題成果作品，本平台僅供學習、展示之用。若有牴觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，本公司概不負責。若有侵權疑慮，您可以私訊[北科大-JAVA工程師養成班]，後續會由專人協助處理。
        </li>
        <li>
          <p>Copyright © 2021 Play Fit All Rights Reserved.</p>
        </li>
      </ul>
    </div>
  </footer>
  <!-- Copyright End -->
  <script src="../../static/header&Footer/js/header&Footer_style.js"></script>
</body>

</html>